<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.muzafarimran.lastingsales">

    <!--<uses-permission android:name="android.permission.READ_SYNC_STATS" />-->
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <!--<uses-permission android:name="com.example.muzafarimran.lastingsales.permission.C2D_MESSAGE" />-->

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="sugar_example.db" />
        <meta-data
            android:name="VERSION"
            android:value="7" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example.muzafarimran.lastingsales" />

        <receiver android:name=".receivers.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.TagAsIgnored">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.FollowupNotiCancelBtnReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.CallsStatesReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
            <!--</intent-filter>-->
        </receiver>
        <receiver
            android:name=".receivers.DeviceBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ContactCallDetails"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.AddContactActivity" />
        <activity
            android:name=".activities.LSContactChooserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddEditFollowUpsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activities.FollowupsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="nosensor" />
        <activity android:name=".activities.NotesActivity" />
        <activity android:name=".activities.AboutActivity" />
        <activity
            android:name=".activities.AddEditNoteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name=".activities.AlertDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAlertDialogStyle" />
        <activity
            android:name=".activities.LogInActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />


        <activity android:name=".activities.ContactDetailsActivity" />

        <activity
            android:name=".activities.ContactDetailsTabActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activities.NotesByContactsActivity2" />

        <service
            android:name=".service.PopupUIService"
            android:enabled="true">
            <intent-filter>
                <action android:name="inez.apps.customincomingcallscreen.MyService" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.TagNumberActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <!--<activity-->
            <!--android:name=".calendar.CalenderActivity"-->
            <!--android:label="Google Calendar API Android Quickstart">-->
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <activity
            android:name=".activities.NavigationDrawerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.TagNotificationDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTransparentTheme"
            android:launchMode="singleInstance">
        </activity>

        <activity
            android:name=".activities.FireBaseMainActivity"
            android:label="@string/title_main_activity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".activities.FrameActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.TagNumberAndAddFollowupActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".activities.AddEditLeadActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".chatheadbubble.BubblesService"
        android:enabled="true"
        android:exported="false" />

        <!--<service-->
        <!--android:name=".service.CallRecordService"-->
        <!--android:exported="true"/>-->

    </application>

</manifest>